.featured-bg {
    background-image: url("../../../assets/home/featured.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 1;
}

.featured-bg::before {
    position: absolute;
    content: "dsadadA";
    background-color: #000;
    width: 100%;
    height: 100%;
    opacity: .5;
    left: 0;
    top: 0;
    z-index: -1;
}